spring:
  application:
    name: spring-ai-mcp-client
  profiles:
    active: @profile.active@
  ai:
    openai:
      api-key: sk-n699lX98LgcWB9kS2f9h8h7k7Bo9UuJhBBCyvFGLQF1u8FVa
#      api-key: sk-abc746abac1f4125b6bea2712430302e
      base-url: https://api.fe8.cn
#      base-url: https://api.deepseek.com
      chat:
        options:
#          model: deepseek-chat
          model: gpt-4o



logging:
  level:
    root: info